extends ../layouts

block content
    .col-12
        h1 Dashboard
        hr
        h1 
          center Add Todo
        br
    form(method="post" action=`/users` enctype="multipart/form-data")
        .form-group
            label(for="title") Title
            input.form-control(id="title" type="text"  name="title" required)
        .form-group
            label(for="description") Description
            input.form-control(id="description" type="text"  name="description" required)
        .form-group
            label(for="photo") Photo
            input.form-control(id="photo" type="file"  name="photo" required)
            //- input(type="hidden" value=id name="userId")
        button.btn.btn-primary(type="submit") Add Todo


    .col-12
        hr
        h1
          center List todo
        hr
        - ol
            each to in todo
              .row
                .col-4
                  if to.status == false
                    li=to.title
                  else
                    li=`${to.title} (Done)`
                .col-2
                  img(src=`/images/uploads/${to.photo}`, alt="image", style="width:35%")
                .col-2
                  if to.status == false 
                    a(class="btn btn-success" href=`users/${to._id}/done` role="button") Done
                  else
                    a(class="btn btn-warning" href=`users/${to._id}/undone` role="button") Undone
                .col-2
                  a(class="btn btn-primary" href=`users/${to._id}/det` role="button") Details/Edit 
                .col-2
                  a(class="btn btn-danger" href=`users/${to._id}/del` role="button") Delete
              br

    script.
     console.log({JSON.stringify(todo)})